header{
    width: 100%;
    top: 0;
}
#headerlink{
    color: white;
    text-decoration: none;
    margin-right: 50px;
    padding-top: 200px;
    font-size: 18px;
}
#footerlink{
    color: white;
    text-decoration: none;
    margin-right: 50px;
    margin-bottom: 15px;
    font-size: 14px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}